body {
    background-color: #333;
    color: #fff;
/*    background-image: url(../images/Sky3.jpg);*/


}

a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    color: honeydew;
}

h1 {
    font-family: 'Roboto Slab', serif;
	font-size:2em;
	font-weight:300;
	color:#fb0;
	/*border-bottom:solid 1px #fb0;*/
}

h2{
    font-family: 'Roboto Slab', serif;
	font-weight:260;
	color:#1f1;
}
h3{
    font-family: 'Roboto Slab', serif;
	font-weight:290;
	color:#bfa;
}
h4{
    font-family: 'Roboto Slab', serif;
    font-weight:290;
    color:#bfa;
}

/*https://www.w3schools.com/tags/tag_ul.asp*/
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}



.index-page {
    background-color: rgb(2, 19, 2);
    color: #fff;
/*    background-image: url(../images/Sky3.jpg);*/


}

/*https://www.w3schools.com/css/css3_buttons.asp*/
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.box-footer {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.box{
    /*border: 1px solid red;*/
    background: #455;
}


.header{
    grid-area: hd;
    background-color: rgb(75, 73, 73);
}

.footer {
    grid-area: ft;
}

.sidebar {
    grid-area: sd;
}

.scrollbar {
    overflow: scroll;
}

.content {
    background-color: #128f38;
    grid-area: main;
    background-image: url(../images/Sky2.jpg);
    background-size: cover;
    

    /*background-image: url("Images/IMG_20170518_135653458.jpg");
    background-size: contain;*/
}

.container {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 850px;
    grid-template-rows: 250px 1fr 1fr;
    grid-template-areas:
   /* "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";*/
    "hd"
    "sd"
    "main"
    "ft";
}

@media(min-width:900px) {
    .container {
        display: grid;
        height : 90vh;

        grid-template-columns: 110px 300px 310px;
        grid-template-rows: 330px 610px;
        grid-template-areas:
     "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";

     /*   "hd"
        "sd"
        "main"
        "ft"*/
    }
}

/* medium screens */
@media(min-width:901px) and (max-width: 1100px) {
    .container {
        display: grid;
        height : 90vh;
        
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 250px 600px;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
}

@media(min-width: 1101px) {
    .container{
        display: grid;
        height : 90vh;
        width : 90%;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd sd sd main main main main"
        "ft ft ft ft ft ft ft ft";

    }
}

.container-index{
    display: grid;
    height : 90vh;
    width : 100%;
    justify-content: center;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd sd sd sd sd sd sd"
    "ft ft ft ft ft ft ft ft";

}